_save_pages/

# shub deploy
/src/build/
/src/project.egg-info/
/src/.releases

# python
*.pyc

# pyenv
.python-version

# setuptools
*.egg-info

# pycharm
.idea/

# local development
src/scrapinghub.yml

# coverage
.coverage

# macOS
.DS_Store
