_save_pages/

# shub deploy
/src/build/
/src/project.egg-info/
/src/.releases

# python
*.pyc

# pyenv
.python-version

# setuptools
*.egg-info

# pycharm
.idea/

# PhantomJS
ghostdriver.log

# coverage
.coverage

# macOS
.DS_Store

# env
.env

# others
*.releases
*geckodriver.log

# vscode local config
*.code-workspace
.vscode

temp/
