# shub deploy
/src/setup.py
/src/build/
/src/project.egg-info/

# python
*.pyc

# pyenv
.python-version

# setuptools
*.egg-info

# pycharm
.idea/

# local development
src/scrapinghub.yml

# coverage
.coverage
